<div class="chat">
	<div class="panel-left">
		<ul class="users-list">
			<li ng-repeat="user in users" ng-hide="user.$id === profile.$id">
				<a href="" ng-click="load(user)" ng-class="{ active: currentUser === user.$id}">
					<div>{{ user.name }}</div>
					<div>{{ user.email }}</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="panel-right">
		<div class="panel-top">
			<div class="messages">
				<div ng-repeat="message in messages" class="message">
					<div class="bubble" ng-class="message.author === profile.$id ? 'bubble-right' : 'bubble-left'">{{message.text}}</div>
					<div style="clear: both"></div>
				</div>
			</div>
		</div>
		<div class="panel-bottom">
			<form class="new-message">
				<input ng-model="newMessage">
				<button class="btn btn-primary" type="submit" ng-click="addMessage(newMessage);newMessage = null;">Enviar</button>
			</form>
		</div>
	</div>
</div>