<div class="row">
	<div class="col-sm-12">
		<div class="login">
			<div class="login-screen">
				<div class="login-form">
					<h3 ng-hide="createMode">Iniciar Sesión</h3>
					<h3 ng-show="createMode">Registrarse</h3>
					<form role="form">
						<div class="form-group">
							<input class="form-control login-field" required name="email" type="email" ng-model="email" placeholder="Ingresa tu correo" id="login-email" />
							<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="form-group">
							<input class="form-control login-field" required name="pass" type="password" ng-model="pass" placeholder="Ingresa tu contraseña" id="login-pass" />
							<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<div class="form-group" ng-cloak ng-show="createMode">
							<input class="form-control login-field" required name="confirm" type="password" ng-model="confirm"  placeholder="Repite la contraseña" id="login-pass" />
							<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

						<!--<a class="btn btn-primary btn-lg btn-block" href="#">Entrar</a>-->
						<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Entrar</button>
						<button class="btn btn-info btn-lg btn-block" ng-click="createMode = true" ng-hide="createMode">Registrarse</button>
						<button class="btn btn-primary btn-lg btn-block" ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Crear mi cuenta</button>
						<button class="btn btn-default btn-lg btn-block" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>